@model IEnumerable<GStore.WebUI.Models.ProductViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>This our current awesome product, take a look!</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                Google Search for the product
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                <a href="https://www.google.com/search?q=@item.ProductName"
                   target="_blank">Search</a>
            </td>
        </tr>
}
    </tbody>
</table>
